#echo "hypr-backup-default/" >> .gitignore
#echo "hypr-backup-user/" >> .gitignore
#git add .gitignore
#git commit -m "Ignore Hyprland backup folders"

#gitignore incase of errors

core/hypr/touchpad.conf
home/.secrets.sh
core/wallpapers/.current_wallpaper
